# Backend API
VITE_API_URL=http://localhost:5000/api

# Firebase Authentication
VITE_FIREBASE_API_KEY=AIzaSyBrgOL1xBAmM3IY-F9Umw4x2WalvLkYJic
VITE_FIREBASE_AUTH_DOMAIN=bloodbridge-c067e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bloodbridge-c067e
VITE_FIREBASE_STORAGE_BUCKET=bloodbridge-c067e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=931981739111
VITE_FIREBASE_APP_ID=1:931981739111:web:523bb88401755c9cab40c2

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
